#animal-photos{
	width:80vw;
	height:100vh;
	margin:20px;
	padding:20px;
	border-radius:10px;
	background-color:grey;
	
}
#photo-heading{
	text-align: center;
}
#images{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	position:static;
	gap:30px 30px;
	gap-column:10px;
	border-radius:10px;
	padding-inline:30px;
	align-items:center;

}
#animal-photos>img{
	border-radius:8px;
}